html
{
background-color: #fafdfe;
}
body
{
text-align: center;
}
.table1 { ;
margin-left: 42%;}
.table2 { ;
margin-left: 48%;}
h1
{
color: #66cccc;
}


h2 {


color: #008080;
}

p
{

text-align: center;
color: #66cccc;
}